.marquee {
    position: relative;
    height: 400px;
    width: 100%;
    overflow-x: hidden;
  }

  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 15s linear infinite;
    width: 100%;
  }
  .track:hover {
    animation-play-state: paused;
  }
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(50%); }
  }
  
   span.text-red {
      -webkit-text-stroke: 1px #f02d34;
      margin-left: 6px;
  }  
  
.maylike-products-wrapper{
    margin-top: 120px;
  }
  .maylike-products-wrapper h2{
    text-align: center;
    margin: 50px;
    color: #324d67;
  
    font-size: 28px;
  }
  .maylike-products-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  
.product-card{
  cursor: pointer;
   transform: scale(1, 1);
   transition: transform 0.5s ease;
  color: #324d67;
 
 }
 .product-card:hover{
   transform: scale(1.1,1.1)
 }
 .product-image{
   border-radius: 15px;
  background-color: #ebebeb;
   transform: scale(1, 1);
   transition: transform 0.5s ease;
 }
 
 .product-name{
   font-weight: 500;
 }
 .product-price{
   font-weight: 800;
   margin-top: 6px;
   color: black;
 }
 